/*FOOTER*/

.footer-accent {
    background-color: $mainAccent;
    width: 100%;
    height: 30%;
}

.MUGG {
    margin: 0;
    padding: 0;
    color: $lighterFontColor;
    font-size: 2.2em;
    text-align: center;
    height: 1.4em;
    line-height: 1.4em;
    white-space: nowrap;
}


/*FOOTER CONTENT*/

.footer-wrapper {
    height: 70%;
    width: 100%;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.19), 0 -6px 6px rgba(0, 0, 0, 0.23);
}

.footer-connect {
    height: 30%;
}

.footer-connect h2 {
    text-align: center;
    padding-top: .4em;
    margin: 0;
    color: white;
}


/*FOOTER SOCIAL ICONS:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    .footer-social {
        height: 70%;
        width: 80%;
    }
    .footer-social img {
        height: 85%;
    }
}


/*FOOTER SOCIAL ICONS:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    .footer-social {
        height: 60%;
        width: 95%;
    }
    .footer-social img {
        height: 75%;
    }
}

.footer-social {
    margin: auto;
    text-align: justify;
}

.footer-social img {
    display: inline-block;
    vertical-align: top;
    /* IE fix. */
    *display: inline;
    zoom: 1;
}

.footer-social:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.footer-social img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-social img {
    opacity: 1;
    transition: visibility 0s .25s, opacity .25s linear;
}

.footer-social:hover img {
    opacity: 0.2;
    transition: opacity .25s linear;
}

.footer-social:hover img:hover {
    opacity: 1;
    transition: visibility 0s .25s, opacity .25s linear;
}


/*FOOTER> KEEP AT BOTTOM*/

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 10em;
    /* Height of the footer element */
}

footer {
    background: $mainColor;
    width: 100%;
    height: 10em;
    position: absolute;
    bottom: 0;
    left: 0;
}
