/*NAV:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
	/*main nav styling and positioning*/
    nav * {
        padding: 0;
        margin: 0;
    }
    nav {
        position: relative;
        height: 7.2em;
        width: 100%;
        background-color: $mainColor;
    }
    
    .nav-wrapper-outer {
        position: absolute;
		display:block;
        z-index: 2;
        width: 100%;
        height: 5em;
		line-height: 5em;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
	.nav-wrapper-inner {
        position: absolute;
        top: 0;
        right: 0;
		height: 100%;
    }
    .navAccent {
        position: absolute;
        bottom: 0;
        background-color: $mainAccent;
        width: 100%;
        height: 2.2em;
        line-height: 2em;
    }
	
	/*items styling and positioning*/
    .nav-wrapper-inner ul {
        height: 100%;
        list-style: none;
        z-index: 2;
    }
	
	.nav-wrapper-inner> ul{
		padding-right: 2.5em;
	}
    .nav-wrapper-inner ul li {
        height: 100%;
        position: relative;
        float: left;
        transition: background-color .3s linear;
    }
    .nav-wrapper-inner ul li:hover {
        background: $mainColorShade;
    }
    .nav-wrapper-inner ul li a:hover,
	.nav-wrapper-inner a.currentPage	{
        color: $hoverColor;
    }
    /*DROPDOWN SUBNAV*/
    #resourceDropdown {
        width: 10em;
    }

    #subNav1 {
        width: 10em;
        background-color: $mainColor;
        left: 0;
        opacity: 0;
        position: absolute; /*Why did i do this?*/
        top: 2.5em;
        visibility: hidden;
        z-index: 1;
        -webkit-transition: all .3s ease;
        transition: all .4s ease;
    }
    #subNav1 li {
        float: none;
        width: 10em;
    }
    #resourceDropdown:hover> #subNav1 {
        opacity: 1;
        top: 5em;
        visibility: visible;
		height: initial !important;
    }
    #subNav1 li a {
        width: 10em;
        height: initial;
    }
    /* Clearfix - self center its children suppoedly TEST THE NEED OF THIS
    .nav-wrapper-inner> ul:after,
    .nav-wrapper-inner> ul:before {
        content: "";
        display: table;
    }
    .nav-wrapper-inner> ul:after {
        clear: both;
    }
    /*TEXT*/
    .nav-wrapper-inner a {
        display: block;
        text-align: center;
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: background-color .3s;
        letter-spacing: .1em;
        padding: 0 .8em;
    }
	
    #subNav1 a {
        text-align: center;
        height: 4em !important;
        line-height: 4em !important;
        padding-top: 0 !important;
        width: initial !important;
    }
    /*PG TITLE*/
    #pgTitleD {
        color: $lighterFontColor;
        text-align: center;
        white-space: nowrap;
    }
    /*IMAGE*/
    nav img {
        position: absolute;
        left: 2.5em;
        height: 4em;
		height: 4em;
		top: 50%;
		transform: translateY(-50%)
    }
    /*MOBILE NAV*/
    #nav-trigger {
        display: none;
    }
    #blueBlock {
        display: none;
    }
    .clear-menu-btn {
        display: none;
    }
    .navHome {
        display: none;
    }
}


/*NAV:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
	nav *{
		padding: 0;
		margin: 0;
	}
    /* Navigation Menu - Background */
    .nav-wrapper-inner {
        background-color: $mainColor;
        /* critical sizing and position styles */
        width: 15.5em;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        /*for scrolling*/
        max-height: 100vh;
        display: flex;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
    }
    /* Navigation Menu - List items */
    .nav-wrapper-inner ul {
        width: 100%;
        line-height: 4em;
    }
    .nav-wrapper-inner ul li {
        /* non-critical appearance styles */
        width: 100%;
        transition: background-color .3s linear;
        display: block;
        overflow: hidden;
    }
    .nav-wrapper-inner ul li:hover {
        background-color: $mainColorShade;
    }
    .nav-wrapper-inner #subNav1 a {
        padding-left: 1em;
    }
    .nav-wrapper-inner a {
        display: block;
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: .3s linear;
		text-align: left;
		font-size: 1.5em;
		padding-left: .5em;
    }
    .nav-wrapper-inner a:hover,
	.nav-wrapper-inner a.currentPage {
        color: $hoverColor;
    }
    /* Site Wrapper - Everything that isn't navigation */
    #wrapper {
        /* Critical position and size styles */
        min-height: 100%;
        min-width: 100%;
        background-color: white;
        /* Needs a background or else the nav will show through */
        position: relative;
        top: 0;
        bottom: 100%;
        right: 0;
        z-index: 1;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    }
    /*following header*/
    #blueBlock {
        width: 100%;
        height: 6.2em;
        background-color: $mainColor;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 10;
        transition: .5s linear;
    }
    #blueBlockContent {
        position: absolute;
        top: 0;
        height: 4em;
        width: 100%;
        background-color: $mainColor;
        z-index: 2;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    #blueBlockAccent {
        position: absolute;
        bottom: 0;
        background-color: $mainAccent;
        width: 100%;
        height: 2.2em;
        line-height: 2em;
    }
    .nav-trigger:checked~ #blueBlock {
        box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.4);
    }
    #navMobileSpacer {
        height: 6.2em;
        width: 100%;
    }
    .nav-wrapper-outer img {
        position: fixed;
        left: .5em;
        top: .25em;
        z-index: 12;
        height: 3.5em;
    }
    #moverBlock {
        height: 6.2em;
        width: 100%;
    }
    /*page titles d=wide, m=narrow*/
    #pgTitleD {
        display: none;
    }
    #pgTitleM {
        color: $lighterFontColor;
        font-size: 1.2em;
        text-align: center;
		padding: 0;
		margin: 0;
    }
    /* Pure CSS3 Hamburger*/
    .clear-menu-btn {
        position: fixed;
        right: .5em;
        top: .5em;
        z-index: 12;
        width: 3em;
        height: 3em;
        margin: 0 auto;
    }
    .nav-trigger:hover {
        cursor: pointer;
    }
    .nav-trigger:checked~ .clear-menu-btn .top,
    .nav-trigger:checked~ .clear-menu-btn .bottom {
        top: 50%;
    }
    .nav-trigger:checked~ .clear-menu-btn .top {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .nav-trigger:checked~ .clear-menu-btn .bottom {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .nav-trigger:checked~ .clear-menu-btn .middle {
        filter: alpha(opacity=0);
        opacity: 0;
    }
    .nav-trigger:checked~ .clear-menu-btn .circle {
        filter: alpha(opacity=100);
        opacity: 1;
    }
    .clear-menu-btn span {
        position: absolute;
        display: block;
        width: 1.5em;
        height: .2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        z-index: -1;
    }
    .clear-menu-btn .top {
        top: 35%;
        margin-left: .75em;
        background-color: $navHamAccent;
        z-index: 1;
    }
    .clear-menu-btn .middle {
        top: 50%;
        margin-left: .75em;
        background-color: $navHamAccent;
        z-index: 1;
    }
    .clear-menu-btn .bottom {
        top: 65%;
        margin-left: .75em;
        background-color: $navHamAccent;
        z-index: 1;
    }
    .clear-menu-btn .circle {
        display: block;
        position: absolute;
        top: 52%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 2.5em;
        height: 2.5em;
        background-color: transparent;
        border: .2em solid $navHamMain;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        z-index: -1;
    }
    /* Nav Trigger */
    .nav-trigger {
        /* critical styles - hide the checkbox input*/
        position: fixed;
        z-index: 13;
        top: 1em;
        right: 1em;
        height: 4em;
        width: 4em;
        filter: alpha(opacity=0);
        opacity: 0;
    }
    /* Make the Magic Happen */
    #wrapper {
        transition: right .5s;
    }
    .nav-trigger:checked~ #wrapper {
        /*The window*/
        right: 15.5em;
    }
    /* Without this, the body has excess horizontal scroll when the menu is open */
    body {
        overflow-x: hidden;
    }
	
	#resourceDropdown {
		position: relative;
	}
	#resourceDropdown input{
		position: absolute;
		top: 0;
		right: 0;
		background-image: url(contents/webImages/expand.svg);
	}
	#resourceDropdown #subNav1{
		max-height: 0;
		-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
	}
	#resourceDropdown input:checked ~ #subNav1{
		max-height: 15em;
	}
}

/*BLINKING CURSOR*/

.blinking-cursor {
    font-weight: bold;
    font-size: 30px;
    color: $lighterFontColor;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: $lighterFontColor;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: $lighterFontColor;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: $lighterFontColor;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: $lighterFontColor;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: $lighterFontColor;
    }
}