/*FONT IMPORT*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url(Ubuntu-Regular.ttf);
}


/*FONT*/

* {
    font-family: 'Ubuntu-Regular';
    color: $fontColor;
}


/*TEXT*/

main h1 {
    font-size: 2em;
}

main h2 {
    font-size: 1.8em;
}

main h3 {
    font-size: 1.7em;
}

main h4 {
    font-size: 1.6em;
}

main p {
    font-size: 1.5em;
}


/*BLINKING CURSOR*/

.blinking-cursor {
    font-weight: bold;
    font-size: 30px;
    color: $lighterFontColor;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: $lighterFontColor;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: $lighterFontColor;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: $lighterFontColor;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: $lighterFontColor;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: $lighterFontColor;
    }
}