//Globla Variables
$fontColor: #2F2F2F;
$lighterFontColor: #C5C5C4;
$hoverColor:#199D72;
//_navigation Variables
$mainColor: #125D53;
$mainColorShade: #277369;
$mainAccent: #676767;
$navHamMain: $hoverColor;
$navHamAccent: #5BBF9E;