/**********BEGIN ABOUT**********/


/*OFFICER CONTAINER*/

#mainAbout .officer {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

#mainAbout .officerDesc p:nth-child(2) {
    text-align: justify;
}

#mainAbout #valuesParagraph {
    text-align: justify;
}


/*OFFICER NAME COLOR*/

#mainAbout .officerTitle {
    color: $hoverColor;
}


/*TEXT*/

#mainAbout h1,
#mainAbout h2,
#mainAbout h3,
#mainAbout h4,
#mainAbout p {
    text-align: center;
}


/*IMAGES:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    /*SPACE OUT THE VALUES*/
    #mainAbout .values {
        margin-left: 1em;
        margin-right: 1em;
    }
    /*ALIGN STUFF ABOUT OFFICERS*/
    #mainAbout .officerPic {
        width: 30%;
        padding-right: 2%;
        display: inline;
    }
    #mainAbout .officerDesc {
        float: right;
        width: 68%;
    }
    /*DON'T SHOW MOBILE NAME*/
    #mainAbout .officerTitleM {
        display: none;
    }
}


/*IMAGES:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    /*VALUES MOBILE*/
    #mainAbout .values {
        display: block;
    }
    /*HOW TO DISPLAY STUFF ABOUT OFFICERS*/
    #mainAbout .officer {
        flex-direction: column;
    }
    #mainAbout .officerTitleM {
        order: 1;
    }
    #mainAbout .officerPic {
        order: 2;
        width: 70%;
    }
    #mainAbout .officerDesc {
        order: 3;
        width: 100%;
    }
    /*DON'T SHOW DESKTOP TITLE*/
    #mainAbout .officerTitleD {
        display: none;
    }
}


/**********END ABOUT**********/