/**********BEGIN HOME PAGE**********/


/*SEPERATE SLIDESHOW FROM CONTENT*/

.seperator {
    width: 100%;
    height: 1em;
}


/*TEXT*/

#mainHome h1,
#mainHome h2,
#mainHome p {
    text-align: center;
}

#mainHome blockquote {
    text-align: center;
    font-size: 1.5em;
}


/*FLUID CALENDAR*/


/*WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    #calendarWrapper {
        width: 80%;
    }
}


/*NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    #calendarWrapper {
        width: 100%;
    }
}

#calendar {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#calendarWrapper {
    height: 30em;
    margin: 2em auto 2em auto;
}


/**********END HOME PAGE**********/