/**********BEGIN LIBRARY**********/

.bookRadio {
    display: none;
}

#mainLibrary h1,
#mainLibrary h3 {
    text-align: center;
}

#coversContainer {
    text-align: center;
}

#mainLibrary .cover {
    display: inline;
}

#mainLibrary .books img {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    display: inline;
}

#mainLibrary .cover img {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    height: 18em;
}

#mainLibrary .books {
    text-align: center;
}


/*WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    #mainLibrary .books img {
        height: 18em;
    }
}


/*NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    #mainLibrary .books img {
        height: 14em;
    }
}

#mainLibrary .books {
    overflow-y: auto;
}

#mainLibrary .books img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cover {
    width: 40%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    //
    display: flex;
    align-items: center;
    justify-content: center;
}

#CSRsadio:checked ~ #wrapper> #content> #mainLibrary> #coversContainer> #CS,
#ScienceFictionRadio:checked ~ #wrapper> #content> #mainLibrary> #coversContainer> #ScienceFiction,
#ClassicsRadio:checked ~ #wrapper> #content> #mainLibrary> #coversContainer> #Classics {
    visibility: visible;
    opacity: 1;
    z-index: 16;
}

#none:checked ~ #wrapper> #content> #mainLibrary> #coversContainer> .overlay> .popup> .books a {
    pointer-events: none;
    cursor: default;
}

.bookLabel {
    cursor: pointer;
}

.popup {
    //left: 10%;
    //top: 50%;
    //-webkit-transform: translateY(-50%);
    //-ms-transform: translateY(-50%);
    //transform: translateY(-50%);
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 5s ease-in-out;
    max-height: 100vh;
}

.popup h2 {
    margin-top: 0;
    padding-top: .5em;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $fontColor;
}

.popup .close:hover {
    color: $hoverColor;
}

.popup .books {
    max-height: 80vh;
}

//wide
@media only screen and (min-width: 1001px) {}

//narrow
@media screen and (max-width: 1000px) {
    .cover {
        width: 80%;
    }
    .popup {
        width: 80%; //make 80
    }
    .noNAV:checked ~ #blueBlock,
    .noNAV:checked ~ #menu,
    .noNAV:checked ~ #navContainer {
        visibility: hidden;
        opacity: 0;
        transition: .25s ease-in-out;
    }
}


/**********END LIBRARY**********/