/**********BEGIN LIBRARY**********/

#mainLibrary h1 {
    text-align: center;
}

#mainLibrary .books img {
    display: inline;
    position: relative;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

#mainLibrary .books {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    background-color: #D6D6D6;
    margin: 1em auto;
    border-radius: .5em;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#mainLibrary .books:hover,
#mainLibrary .books img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/**********END LIBRARY**********/